:root {
    --main-color-first: #00215e;
    --error-color: #fc4100;
    --main-color-second: #0ed145;
    --main-color-second-half: rgba(14, 209, 69, 0.5);
    --constract-text-color: white;
}

/* COMMON */

* {
    box-sizing: border-box;
}

body {
    width: 100svw;
    height: 100svh;
    margin: 0;
    color: var(--main-color-first);
}

header {
    height: 13%;
    width: 100%;
    background: var(--main-color-first);
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-around;
    color: var(--constract-text-color);
    font-size: 19px;
}

.body__wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: var(--main-color-first);
    text-shadow:
        -1px -1px 0 var(--main-color-second),
        1px -1px 0 var(--main-color-second),
        -1px 1px 0 var(--main-color-second),
        1px 1px 0 var(--main-color-second);
    font-size: 50px;
    text-align: center;
    margin: 25px 0;
}

h2,
h3 {
    width: 100%;
    position: relative;
    text-align: center;
}

h2::after,
h3::after,
.menu::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 25%;
    width: 50%;
    height: 2px;
    background: linear-gradient(90deg, var(--main-color-first), var(--main-color-second));
}

footer {
    width: 100%;
    height: 12%;
    background: var(--main-color-first);
}

.footer__link {
    color: var(--constract-text-color);
    font-size: 21px;
    text-align: center;
    margin: 40px 0 20px;
}

main {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: url(./img/theme.png);
    background-size: contain;
}

.catalog_main {
    background-size: 700px;
}

main.register {
    height: 75%;
}

/* FORM */

span {
    font-size: 14px;
    text-align: right;
    color: var(--error-color);
    width: 100%;
    margin: -20px 0 -10px;
}

form {
    width: 400px;
    height: 500px;
    border-radius: 15px;
    padding: 0 30px 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    color: var(--main-color-first);
    font-size: 20px;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(45deg, var(--main-color-first), var(--main-color-second)) 5;
    border-image-slice: 1;
    background: var(--constract-text-color);
}

.group {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

input {
    height: 30px;
    border: 1px solid var(--main-color-first);
    border-radius: 5px;
    color: var(--main-color-first);
}

button {
    width: 80px;
    height: 40px;
    border: 1px solid var(--main-color-first);
    background: var(--main-color-first);
    border-radius: 6px;
    color: var(--constract-text-color);
    font-size: 16px;
    cursor: pointer;
    transition: all 500ms;
}

button:hover,
.catalog_btn:hover {
    box-shadow: -5px 5px 5px var(--main-color-second-half);
    transition: all 500ms;
    transform: translateY(-2px);
}

.invalid,
input.invalid:focus {
    box-shadow: 0 0 7px var(--error-color);
}

input:focus {
    box-shadow: 0 0 7px var(--main-color-second-half);
}

/* CATALOG */

.catalog {
    width: 100%;
}

.logout {
    background: url(./img/logout.svg);
    width: 25px;
    height: 25px;
    filter: invert(1);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.menu {
    width: 100%;
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    gap: 2%;
    height: 50px;
    background: var(--constract-text-color);
    padding: 0 10%;
    font-size: 20px;
}

.menu::after {
    left: 0;
    bottom: 0;
    width: 100%;
}

.search {
    flex: 5;
    text-align: end;
    color: var(--main-color-first);
}

.menu .catalog_btn {
    position: relative;
    border: 1px solid var(--main-color-first);
    background-color: var(--main-color-first);
    color: var(--constract-text-color);
    border-radius: 5px;
    padding: 6px 8px 6px 35px;
}

.menu .catalog_btn::before {
    content: '';
    position: absolute;
    background: url(./img/shop.png);
    background-size: 100%;
    left: 0;
    top: 2px;
    width: 30px;
    height: 30px;
}

.menu div {
    transition: all 500ms;
    padding: 15px;

}

.menu div:hover {
    text-shadow: 0 0 5px var(--main-color-first);
    cursor: pointer;
    transform: translateY(-2px);
    transition: all 500ms;
}

.menu .active,
.menu div.active:hover {
    text-shadow: 0 0 1px var(--main-color-first), 0 0 10px var(--main-color-second);
}

.main-view {
    display: flex;
    margin: 0 auto;
    padding: 2% 10%;
    max-width: 1400px;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: start;
    gap: 5%
}

.items {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.item {
    width: 250px;
    height: 280px;
    background-color: var(--main-color-first);
    color: var(--constract-text-color);
    border: 1px solid var(--main-color-first);
    transition: all 500ms;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.item:hover {
    transition: all 500ms;
    color: var(--main-color-first);
    background-color: var(--constract-text-color);
    border: 1px solid var(--main-color-second);
    box-sizing: border-box;
}

.item:hover .images {
    background-size: 110%;
}

.item:hover .buy_btn {
    background: var(--main-color-first);
    color: var(--constract-text-color);
    transition: all 500ms;
}

.images {
    background-size: 100%;
    transition: all 500ms;
}

.image {
    background: url(./img/duck.png);
    width: 100%;
    height: 180px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 500ms;
}

.image2 {
    background: url(./img/sword.png);
    width: 100%;
    height: 180px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.image3 {
    background: url(./img/secat.jpg);
    width: 100%;
    height: 180px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.filter {
    width: 20%;
    background-color: var(--constract-text-color);
    border-width: 2px;
    padding:  5px 20px 20px;
    min-width: 250px;
    border-style: solid;
    border-image: linear-gradient(45deg, var(--main-color-first), var(--main-color-second)) 5;
    border-image-slice: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.item_info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: unset;
    gap: 15px;
    padding: 8px;
}

.name {
    width: 100%;
    font-size: 17px;
}

.price {
    font-size: 25px;
    font-weight: bold;
    align-self: center;
}

.buy_btn {
    background: var(--constract-text-color);
    color: var(--main-color-first);
    transition: all 500ms;
    border: 1px solid var(--main-color-second);
    align-self: end;
}

.filter div{
    width: 100%;
}

.filter .filter_btn {
    align-self: end;
}

.group.start{
    justify-content: start;
    gap: 10px;
}

#price {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: linear-gradient(90deg, var(--main-color-first), var(--main-color-second));
  outline: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 30px;
}

#price::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: var(--constract-text-color);
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid var(--main-color-first);

}